@font-face {
    font-family: Roboto;
    src:url(Roboto.ttf);
}

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}


.header,
.hero {
    background-color: #1F2937;
}

.header-container {
    height: 64px

}

.header-container,
.hero-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a { 
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-container {
    padding: 90px 0;
    gap: 20%;
    align-items: stretch;
    
}

.info {
   flex: 1;

}

.info .main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.info .secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.info .button,
.cta-signup {
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}

.img {
    background-color: grey;
    color: white;
    display: flex;
    flex: 1.5;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.ilu {
    background-color: white;
    padding: 70px 0;
    text-align: center;
}

.ilu .ilu-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}

.ilu-pictures {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.picture {
    max-width: 170px;
    display: flex;
    flex-direction: column;
   
}

.picture .pic {
    border: solid 5px #3882F6;
    border-radius: 15px;
    width: 100%;
    height: 170px;
}

.picture .text {
    margin-top: 10px;
    font-size: 18px;
    color: #1F2937;
}


.quote-section {
    background-color: #E5E7EB;
}

.quote-section .quote {
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    max-width: 850px;  
}

.quote .quotation {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote .author {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;
}

.cta-section {
    background-color: white;
    display: flex;
    justify-content: center;
}

.cta-container {
    margin: 100px 0;
    padding: 60px 120px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    border-radius: 10px;
}

.call {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.cta-description {
    font-size: 18px;
    color: #E5E7EB;
}

.cta-signup {
    border: #F9FAF8 solid 3px;
}